p, a, h1
{
	color:red ;
	font-size: 14pt;
	font-family: Copperplate Gothic Light
}

body

{
	color: 3366FF;
	background-color: 3366FF;
}

img
{
	content; url("znakikarty.webp");
	width: 400px;
	border: 10px;
}

#id
{
	font-size: 18pt;
	font-weight: bold;
	
}

.small
{
	font-size; 10pt;
	font-style: italic;
}

img.
{
	content: url("znakikarty.webp");
}

c
{
	color: black;
	font-size: 18pt;
	font-family: Copperplate Gothic Light
}


li span {
  background: silver;
}












